<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>ABOUT-ME</title>
</head>
<div>
    <ul class="nav justify-content-center bg-light p-3">
        <li class="nav-item"><a class="nav-link" href="/">home</a></li>
        <li class="nav-item"><a class="nav-link" href="/about">about</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">contact</a></li>
        <li class="nav-item"><a class="nav-link" href="/products">post</a></li>
        </ul>
</div>
    
    <h1 class="bg-primary text-center" >I AM A PROGRAMMER</h1>

    
</body>
</html>