<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>CONTACT-ME</title>
</head>
<body>

    <div class="cross"></div>


    
    <div>
        <ul class="nav justify-content-center bg-light p-3">
            <li class="nav-item"><a class="nav-link" href="/">home</a></li>
            <li class="nav-item"><a class="nav-link" href="/about">about</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">contact</a></li>
            <li class="nav-item"><a class="nav-link" href="/products">post</a></li>
            </ul>
    </div>
    
    <h1>You can contact me via my phone number:08023287017</h1>

    
</body>
<script>
    fetch("http://jsonplaceholder.typicode.com/users/")
    .then((response)=>response.json())
    .then((data)=>{
        for (let index = 0; index < data.length; index++) {
            const element = data[index];
            // console.log(element);
            document.querySelector(".cross").innerHTML += `<h1> ${element.id}</h1> 
            <p>${element.id}</p>
            <p>${element.name}</p>
            <h2>${element.username}</h2>
            <p>${element.email}</p> 
            <p>${element.address.street}</p>
            <p>${element.address.suite}</p>
            <p>${element.address.city}</p>
            <p>${element.address.zipcode}</p>
            <p>${element.address.geo.lat}</p>
            <p>${element.address.geo.lng}</p>
            <p>${element.phone}</p>
            <p>${element.website}</p>
            <p>${element.company.name}</p>
            <p>${element.company.catchPhrase}</p>
            `;
            
            ;       
        }
    }).catch((err)=>{
        console.log(err);
    })
</script>
</html>